.title {
  font-size: 0.9rem;
}

.dropdownWrapper {
  width: 103px;
}

.dropdown {
  left: 0;
  /* Min-width for all dropdowns in all breakpoints */
  min-width: 145px !important;
}

.btn {
  background-color: var(--body-bg);
  line-height: 1.5 !important;
  background-repeat: no-repeat;
  background-position: right 0.3rem center;
  background-size: 12px 8px;
  background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e');
  padding: 0.25rem 0.5rem;
  padding-right: 2.25rem;
  color: #212529 !important;
  border-color: #ced4da !important;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.btnRemove {
  font-size: 0.7rem;
}

.activeFilter {
  font-size: 0.75rem;
  padding-left: 0.35rem;
}

.closeBtn {
  padding: 0 0.35rem 0 0;
  margin-top: -1px;
}

.closeIcon {
  min-width: 15px;
}

[data-theme='dark'] .btn {
  background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23ccc%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e');
  border-color: var(--solid-border) !important;
  color: var(--color-font) !important;
}

[data-theme='dark'] .btn:disabled,
[data-theme='dark'] .btn.disabled,
[data-theme='dark'] fieldset:disabled .btn {
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 0.5;
}

[data-theme='dark'] .dropdown {
  background-color: var(--bg-color);
}

[data-theme='dark'] .dropdown label {
  color: var(--color-light-font) !important;
}

.options {
  max-height: 300px;
}

.tooltipArrow {
  margin-top: 7px;
}

.dropdown label {
  font-size: 0.8rem;
}

.dropdown input[type='text'] {
  font-size: 0.8rem;
}

@media only screen and (min-width: 1200px) {
  .dropdownWrapper {
    width: 119px;
  }

  .dropdown {
    /* Min-width for all dropdowns in all breakpoints */
    min-width: 165px !important;
  }
}

@media only screen and (min-width: 1400px) {
  .dropdownWrapper {
    width: 141px;
  }

  .btn {
    font-size: 0.825rem;
  }

  .activeFilter {
    font-size: 0.8rem;
  }

  .closeBtn {
    margin-top: 0;
  }
}

/* Overwrite dropdown width in all breakpoints */
.projectDropdown {
  min-width: 280px !important;
}

.languageDropdown {
  min-width: 250px !important;
}

@media (hover: hover) {
  .btn:hover {
    filter: none;
    background-color: var(--body-bg);
    border-color: var(--clo-secondary) !important;
  }

  [data-theme='dark'] .btn:hover {
    border-color: var(--solid-border) !important;
  }
}
