.badges {
  top: -2px;
}

.badge {
  padding: 0;
  padding-left: 0.35rem;
  border: 1px solid transparent;
}

.reset {
  padding-left: 0.35rem;
}

.content {
  padding: 0.1rem 0;
}

.btn {
  padding: 0.1rem 0.35rem;
}
