.outlineBadge {
  background-color: transparent;
  border: 1px solid var(--default-border);
}

@media (hover: hover) {
  .clickable:hover {
    box-shadow: inset 0px 0px 25px 10px var(--color-black-5);
    border-color: var(--default-border) !important;
  }
}
