[workspace]
members = [
    "clotributor-apiserver",
    "clotributor-registrar",
    "clotributor-tracker",
]

[workspace.package]
version = "0.1.0"
license = "Apache-2.0"
edition = "2021"
rust-version = "1.65"

[workspace.dependencies]
anyhow = "1.0.66"
async-trait = "0.1.58"
axum = "0.5.17"
bincode = "1.3.3"
clap = { version = "4.0.29", features = ["derive"] }
config = "0.13.2"
deadpool = "0.9.5"
deadpool-postgres = { version = "0.10.3", features = ["serde"] }
futures = "0.3.25"
graphql_client = { version = "0.11.0", features = ["reqwest"] }
hex = "0.4.3"
http = "0.2.8"
lazy_static = "1.4.0"
mime = "0.3.16"
openssl = { version = "0.10.43", features = ["vendored"] }
postgres-openssl = "0.5.0"
regex = "1.7.0"
reqwest = { version = "0.11.13", features = ["json"] }
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.89"
serde_qs = "0.10.1"
serde_yaml = "0.9.14"
sha2 = "0.10.6"
time = { version = "0.3.17", features = [
    "formatting",
    "macros",
    "parsing",
    "serde",
] }
tokio = { version = "1.22.0", features = [
    "macros",
    "process",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-postgres = { version = "0.7.7", features = [
    "with-time-0_3",
    "with-serde_json-1",
    "with-uuid-1",
] }
tower = "0.4.13"
tower-http = { version = "0.3.4", features = ["fs", "set-header", "trace"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter", "json"] }
uuid = { version = "1.2.2", features = ["serde"] }
