[workspace]
members = [
    "clotributor-apiserver",
    "clotributor-registrar",
    "clotributor-tracker",
]

[workspace.package]
version = "0.1.0"
license = "Apache-2.0"
edition = "2021"
rust-version = "1.65"

[workspace.dependencies]
anyhow = "1.0.69"
async-trait = "0.1.66"
axum = { version = "0.6.11", features = ["macros"] }
bincode = "1.3.3"
clap = { version = "4.1.11", features = ["derive"] }
config = "0.13.3"
deadpool = "0.9.5"
deadpool-postgres = { version = "0.10.5", features = ["serde"] }
futures = "0.3.27"
graphql_client = { version = "0.12.0", features = ["reqwest"] }
hex = "0.4.3"
http = "0.2.9"
hyper = "0.14.25"
lazy_static = "1.4.0"
mime = "0.3.16"
mockall = "0.11.3"
mockito = "1.0.0"
openssl = { version = "0.10.46", features = ["vendored"] }
postgres-openssl = "0.5.0"
postgres-types = { version = "0.2.4", features = ["derive"] }
regex = "1.7.1"
reqwest = { version = "0.11.14", features = ["json"] }
serde = { version = "1.0.156", features = ["derive"] }
serde_json = "1.0.94"
serde_qs = "0.12.0"
serde_yaml = "0.9.19"
sha2 = "0.10.6"
time = { version = "0.3.20", features = [
    "formatting",
    "macros",
    "parsing",
    "serde",
] }
tokio = { version = "1.26.0", features = [
    "macros",
    "process",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-postgres = { version = "0.7.7", features = [
    "with-time-0_3",
    "with-serde_json-1",
    "with-uuid-1",
] }
tower = "0.4.13"
tower-http = { version = "0.4.0", features = ["fs", "set-header", "trace"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter", "json"] }
uuid = { version = "1.3.0", features = ["serde"] }
