[workspace]
members = [
    "clotributor-apiserver",
    "clotributor-registrar",
    "clotributor-tracker",
]

[workspace.package]
version = "0.1.0"
license = "Apache-2.0"
edition = "2021"
rust-version = "1.65"

[workspace.dependencies]
anyhow = "1.0.75"
async-trait = "0.1.73"
axum = { version = "0.6.20", features = ["macros"] }
bincode = "1.3.3"
clap = { version = "4.4.5", features = ["derive"] }
config = "0.13.3"
deadpool = "0.10.0"
deadpool-postgres = { version = "0.11.0", features = ["serde"] }
futures = "0.3.28"
graphql_client = { version = "0.13.0", features = ["reqwest"] }
hex = "0.4.3"
http = "0.2.9"
hyper = "0.14.27"
lazy_static = "1.4.0"
mime = "0.3.17"
mockall = "0.11.4"
mockito = "1.2.0"
openssl = { version = "0.10.57", features = ["vendored"] }
postgres-openssl = "0.5.0"
postgres-types = { version = "0.2.6", features = ["derive"] }
regex = "1.9.5"
reqwest = { version = "0.11.20", features = ["json"] }
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.107"
serde_qs = "0.12.0"
serde_yaml = "0.9.25"
sha2 = "0.10.7"
time = { version = "0.3.25", features = [
    "formatting",
    "macros",
    "parsing",
    "serde",
] }
tokio = { version = "1.32.0", features = [
    "macros",
    "process",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-postgres = { version = "0.7.10", features = [
    "with-time-0_3",
    "with-serde_json-1",
    "with-uuid-1",
] }
tower = "0.4.13"
tower-http = { version = "0.4.4", features = ["fs", "set-header", "trace"] }
tracing = "=0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "json"] }
uuid = { version = "1.4.1", features = ["serde"] }
