.categoryTitle {
  margin-top: 2rem;
}

.decorator {
  top: 3px;
}

label {
  font-size: 0.9rem;
}

.search {
  width: 94% !important;
  box-shadow: 0 0 0 0.3rem var(--clo-secondary-15) !important;
  margin: 0rem !important;
}
