:root {
  --project-info: 340px;
  --mini-project-info: 240px;
}

.projectWrapper {
  background-color: var(--bg-color);
  padding: 0.9rem 1rem;
  min-width: var(--project-info);
  width: var(--project-info);
}

.smProjectWrapper {
  background-color: var(--bg-color);
  padding: 0.9rem 1rem;
}

.imageWrapper {
  height: 75px;
  width: 75px;
  min-width: 75px;
  font-size: 3rem;
}

.miniImageWrapper {
  height: 20px;
  width: 20px;
  min-width: 20px;
  font-size: 2rem;
}

.imageWrapper img,
.miniImageWrapper img {
  max-height: 100%;
  max-width: 100%;
}

.projectInfo {
  width: calc(100% - 28px);
}

.title {
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--color-gray-font);
}

.longProjectName {
  font-size: 0.9rem;
}

.subtitle {
  font-size: 0.8rem;
}

.statsIcon {
  width: 20px;
  height: 20px;
}

.urlIcon {
  width: 20px;
  height: 20px;
  margin-left: -2px;
}

.calendarIcon {
  width: 18px;
  height: 18px;
  margin-left: -2px;
}

.issueContent {
  width: calc(100% - var(--project-info));
}

.repoName {
  top: 1px;
}

.star {
  font-size: 0.85rem;
}

.legend {
  font-size: 0.75rem;
}

.statsIcon path {
  stroke: inherit;
}

.issueDesc {
  color: var(--color-gray-font);
  font-size: 1.15rem;
}

.repoInfo {
  opacity: 75%;
  min-width: 0;
}

.tooltipMessage {
  margin-left: 10px;
}

.moreInfo {
  font-size: 0.9rem;
}

.cardWrapper {
  padding: 0.75rem 0;
}

.topicsWrapper {
  max-height: 25px;
}

.languagesWrapper {
  max-height: 22px;
}

.dot {
  min-width: 14px;
}

.badgesWrapper {
  max-height: 22px;
  min-width: 150px;
}

.badge {
  margin: 1px 0.25rem;
}

.mentorBadge {
  font-size: 0.7rem;
}

.linkMobile {
  /* Avoid link preview for Safari mobile */
  -webkit-touch-callout: none;
}

.externalIcon {
  font-size: 1rem;
  min-width: 16px;
}

[data-theme='dark'] .card {
  background-color: var(--clo-secondary-15);
}

.negativeMarginTop {
  margin-top: -1.3rem;
}

@media only screen and (max-width: 1199.98px) {
  .title {
    font-size: 1rem;
  }

  .longProjectName {
    font-size: 0.9rem;
  }

  .projectWrapper {
    min-width: var(--mini-project-info);
    width: var(--mini-project-info);
  }

  .issueDesc,
  .issueIcon {
    font-size: 0.9rem;
  }

  .issueContent {
    width: calc(100% - var(--mini-project-info));
  }

  .externalIcon {
    font-size: 0.9rem;
    min-width: 14px;
  }
}

@media only screen and (max-width: 767.98px) {
  .projectWrapper {
    min-width: 100%;
    width: 100%;
  }

  .issueContent {
    width: 100%;
  }
}

@media only screen and (max-width: 575.98px) {
  .longProjectName {
    font-size: 1rem;
  }

  .issueDesc {
    font-size: 0.75rem;
  }

  .repoInfo {
    font-size: 0.85rem;
    width: 100%;
  }

  .repoLink,
  .star {
    font-size: 0.75rem;
  }

  .cardWrapper {
    padding: 0.5rem 0;
  }
}

@media only screen and (min-width: 576px) {
  .cardWrapper:first-child {
    padding-top: 0;
  }

  .cardWrapper:last-child {
    padding-bottom: 0;
  }
}
