[data-theme='light'] {
  --clo-primary: #f0a;
  --clo-secondary: #2a0552;

  --clo-primary-50: rgba(255, 0, 170, 0.5);
  --clo-primary-5: rgba(255, 0, 170, 0.05);

  --clo-secondary-900: #110222;

  --clo-secondary-50: rgba(42, 5, 82, 0.5);
  --clo-secondary-15: rgba(42, 5, 82, 0.15);
  --clo-secondary-5: rgba(42, 5, 82, 0.05);

  --highlighted: #2a0552;

  --color-black-75: rgba(0, 0, 0, 0.75);
  --color-black-25: rgba(0, 0, 0, 0.25);
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-5: rgba(0, 0, 0, 0.05);

  --color-white-25: rgba(255, 255, 255, 0.25);

  --color-light-gray: #e2e2e2;
  --bg-color: #f9f9f9;
  --body-bg: #fff;
  --color-font: #38383f;
  --color-gray-font: #434349;
  --solid-border: #9b9ea1;
  --default-border: #dee2e6;
  --bg-code: var(--color-black-5);
  --bg-progressbar-stats: var(--color-black-5);
  --bg-loading: var(--color-white-25);

  --bs-primary: #f0a;
  --bs-primary-rgb: 255, 0, 170;
  --bs-secondary: #2a0552;
  --bs-secondary-rgb: 42, 5, 82;

  --search-border: #8f7ca4;

  --clo-tertiary: #08f;

  .tooltip {
    &.bs-tooltip-bottom .tooltip-arrow:before {
      border-bottom-color: var(--color-font) !important;
    }

    .tooltip-inner {
      background-color: var(--bg-color) !important;
      border: 1px solid var(--color-font) !important;
      color: var(--color-font) !important;
    }
  }

  .tooltipDropdown {
    background-color: var(--bg-color) !important;
    border: 1px solid var(--color-font) !important;
    color: var(--color-font) !important;
  }

  .tooltipDropdown .arrow:before {
    border-bottom-color: var(--color-font) !important;
  }

  .alert-warning {
    border-color: rgba(212, 167, 44, 0.4) !important;
  }

  .bg-muted {
    background-color: #6c757d;
  }
}
