body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.fw-semibold {
  font-weight: 600 !important;
}

/* Embed */
.embed #clo-wrapper {
  height: 100%;
  overflow: auto;
  overscroll-behavior: contain;
}

.embed::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  border: 1px solid var(--clo-secondary);
  pointer-events: none;
}

@media screen and (min-width: 992px) {
  .embed .container-lg {
    max-width: 95% !important;
  }
}
